.normal {
    word-break: normal;
}

.breakAll {
    word-break: break-all;
}

.keepAll {
    word-break: keep-all;
}

.breakWord {
    word-break: break-word;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.bolder {
    font-weight: bolder;
}