.normal {
    word-break: normal;
}

.breakAll {
    word-break: break-all;
}

.keepAll {
    word-break: keep-all;
}

.breakWord {
    word-break: break-word;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.bolder {
    font-weight: bolder;
}

.btn-slate-blue:hover, .btn-slate-blue:focus, .btn-slate-blue:active {
    border-color: #7D5EF1 !important;
    background-color: #7D5EF1 !important;
    color: #fff !important;
    box-shadow: 0 0.375rem 1.125rem -0.375rem rgba(125, 94, 241, 0.8) !important;
}

.btn-lime:hover, .btn-lime:focus, .btn-lime:active {
    border-color: #C3F73A !important;
    background-color: #C3F73A !important;
    color: #fff !important;
    box-shadow: 0 0.375rem 1.125rem -0.375rem rgba(195, 274, 58, 0.8) !important;
}

.btn-tart-orange:hover, .btn-tart-orange:focus, .btn-tart-orange:active {
    border-color: #FB4D3D !important;
    background-color: #FB4D3D !important;
    color: #fff !important;
    box-shadow: 0 0.375rem 1.125rem -0.375rem rgba(251, 77, 61, 0.8) !important;
}

.btn-blue-green:hover, .btn-blue-green:focus, .btn-blue-green:active {
    border-color: #16BAC5 !important;
    background-color: #16BAC5 !important;
    color: #fff !important;
    box-shadow: 0 0.375rem 1.125rem -0.375rem rgba(22, 186, 197, 0.8) !important;
}

.btn-green:hover, .btn-green:focus, .btn-green:active {
    border-color: #65C924 !important;
    background-color: #65C924 !important;
    color: #fff !important;
    box-shadow: 0 0.375rem 1.125rem -0.375rem rgba(101, 201, 36, 0.8) !important;
}

.btn-marigold:hover, .btn-marigold:focus, .btn-marigold:active {
    border-color: #F3A712 !important;
    background-color: #F3A712 !important;
    color: #fff !important;
    box-shadow: 0 0.375rem 1.125rem -0.375rem rgba(243, 167, 18, 0.8) !important;
}
